<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
<beans>
	<bean id="math" class="com.sapphire.spring.Math"></bean>
	
	<bean id="student" class="com.sapphire.spring.Student">
		<property name="id" value="1001"/>
		<property name="math" ref="math"/>
	</bean>
	
	<bean id="anotherStudent" class="com.sapphire.spring.AnotherStudent">
		<property name="math" ref="math"/>
	</bean>
	
</beans>