<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:annotation-config/>
	<bean id="heartObject" class="spring_autowiring_qualifier.Heart">
		<property name="noOfHeart" value="1"/>
		<property name="name" value="human"/>
	</bean>
	<bean id="heartObject1" class="spring_autowiring_qualifier.Heart">
		<property name="noOfHeart" value="3"/>
		<property name="name" value="human2"/>
	</bean>
	<bean id="human" class="spring_autowiring_qualifier.Human"></bean>

</beans>